<?xml version="1.0" ?>
<config>

    <modules>
        <TM_CountdownTimer>
            <version>1.2.2</version>
        </TM_CountdownTimer>
    </modules>

    <default>
        <tmcore>
            <jslibs>
                <jquery>1</jquery>
            </jslibs>
        </tmcore>
    </default>

    <frontend>
        <layout>
            <updates>
                <tm_countdowntimer module="TM_CountdownTimer">
                    <file>tm/countdowntimer.xml</file>
                </tm_countdowntimer>
            </updates>
        </layout>
        <translate>
            <modules>
                <tm_countdowntimer>
                    <files>
                        <default>TM_CountdownTimer.csv</default>
                    </files>
                </tm_countdowntimer>
            </modules>
        </translate>
    </frontend>

    <global>
        <blocks>
            <tm_countdowntimer>
                <class>TM_CountdownTimer_Block</class>
            </tm_countdowntimer>
        </blocks>
        <models>
            <tm_countdowntimer>
                <class>TM_CountdownTimer_Model</class>
            </tm_countdowntimer>
        </models>
        <helpers>
            <tm_countdowntimer>
                <class>TM_CountdownTimer_Helper</class>
            </tm_countdowntimer>
        </helpers>
    </global>

</config>
