<?xml version="1.0" ?>
<config>
    <modules>
        <TM_CountdownTimer>
            <version>1.0.0</version>
        </TM_CountdownTimer>
    </modules>
    <frontend>
        <routers>
            <tm_countdowntimer>
                <use>standard</use>
                <args>
                    <module>TM_CountdownTimer</module>
                    <frontName>countdowntimer</frontName>
                </args>
            </tm_countdowntimer>
        </routers>
        <layout>
            <updates>
                <tm_countdowntimer module="TM_CountdownTimer">
                    <file>tm/countdowntimer.xml</file>
                </tm_countdowntimer>
            </updates>
        </layout>
    </frontend>
    <default>
        <tm_countdowntimer>
            <general>
                <add_jquery>0</add_jquery>
            </general>
        </tm_countdowntimer>
    </default>
    <global>
        <blocks>
            <tm_countdowntimer>
                <class>TM_CountdownTimer_Block</class>
            </tm_countdowntimer>
        </blocks>
        <models>
            <tm_countdowntimer>
                <class>TM_CountdownTimer_Model</class>
            </tm_countdowntimer>
        </models>
        <helpers>
            <tm_countdowntimer>
                <class>TM_CountdownTimer_Helper</class>
            </tm_countdowntimer>
        </helpers>
    </global>
</config>