<?xml version="1.0" ?>
<config>
    <modules>
        <TM_CountdownTimer>
            <version>1.0.0</version>
        </TM_CountdownTimer>
    </modules>
    <frontend>
        <routers>
            <tm_countdowntimer>
                <use>standard</use>
                <args>
                    <module>TM_CountdownTimer</module>
                    <frontName>countdowntimer</frontName>
                </args>
            </tm_countdowntimer>
        </routers>
        <layout>
            <updates>
                <tm_countdowntimer module="TM_CountdownTimer">
                    <file>tm/countdowntimer.xml</file>
                </tm_countdowntimer>
            </updates>
        </layout>
    </frontend>
    <default>
        <tm_countdowntimer>
            <general>
                <add_jquery>0</add_jquery>
                <display_days>0</display_days>
                <timer_type>simpletimer</timer_type>
                <fliptimer_size>tmflipmedium</fliptimer_size>
                <fliptimer_skin>tmflipdark</fliptimer_skin>
                <simpletimer_css>font-weight: bold;</simpletimer_css>
            </general>
        </tm_countdowntimer>
    </default>
    <global>
        <blocks>
            <tm_countdowntimer>
                <class>TM_CountdownTimer_Block</class>
            </tm_countdowntimer>
        </blocks>
        <models>
            <tm_countdowntimer>
                <class>TM_CountdownTimer_Model</class>
                <resourceModel>tm_countdowntimer_resource</resourceModel>
            </tm_countdowntimer>
            <tm_countdowntimer_resource>
                <entities>
                    <test_table>
                        <table>tm_countdowntimer_test</table>
                    </test_table>
                </entities>
            </tm_countdowntimer_resource>
        </models>
        <helpers>
            <tm_countdowntimer>
                <class>TM_CountdownTimer_Helper</class>
            </tm_countdowntimer>
        </helpers>
    </global>
</config>